# --- 安全与配置 (绝对不能传!) ---
.env
.DS_Store

# --- Python 垃圾文件 ---
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# --- 前端垃圾文件 (巨大!) ---
node_modules/
dist/
.vscode/
.idea/

# --- 运行数据 ---
server/uploads/
server/faiss_index/